<section>
    <h1>Register for a new account here</h1>
    <form (ngSubmit)="register()">
        <h2 class="{{ messageClass }}">{{ message }}</h2>
        <fieldset>
            <label for="username">Username:</label>
            <input [(ngModel)]="username" type="text" name="username" required>
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" name="password" required>
        </fieldset>
        <fieldset>
            <label for="confirm">Confirm password:</label>
            <input [(ngModel)]="confirm" type="password" name="confirm" required>
        </fieldset>
        <button class="btn btn-info">Register</button>
    </form>
</section>