<h1>Register</h1>
<section>
    <h1>Register for a new account here</h1>
    <form>
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </fieldset>
        <fieldset>
            <label for="confirm">Confirm password:</label>
            <input type="password" name="confirm">
        </fieldset>
        <button class="btn btn-primary">Submit</button>
    </form>
</section>